/* Fichier user.css

Auteur : MAINCENT Thomas
Date de création : 15 Mai 2023 */

/* Ajout d'un dégradé gris sombre et gris clair */
.header{
  background: linear-gradient(0deg, rgba(238,238,238,1) 40%, rgba(154,154,154,1) 100%);
}

/* Changement de la couleur du titre 1 et du titre du module */
h1, .card-header{
  color: #444444;
}

/* Changement de taille du titre 1 (titre article) */
h1{
  font-size : 24px;
}

/* Changement de la couleur du "titre 2" en vert + taille*/
h2{
  color: #7ba428;
  font-size: 22px;
}

/* Changement de couleur du "titre 3" */
h3{
  color: #abb664; /* Proposition de couleur */
  font-size : 18px;
}

/* Changement de couleur des liens */
a{
  color: #87c864; /* Proposition de couleur */
}

/* Changement de couleur des liens du formulaire de connexion */
.list-group-item{
  color: #a8e074;
}

/* Changement de la couleur des liens de menu */
.container-header .mod-menu>li>a{
  color: black;
}

/* Changement de couleur des flèches à côté des liens de menu (Activités, Programme 2022 - 2023)*/
.container-header .mod-menu{
  color: black;
}

/* Modification de la couleur du bouton du menu rétractable (téléphone) */
.container-header .navbar-toggler{
  border: 1px solid black;
  color: black;
}

/* Redimensionnement + placement du logo de connexion */
.connexion {
  width: 60px;
  margin-left: 370px; /* L'image est tout à droite */
}

/* Redimensionnement du logo */
.brand-logo img {
  width: 1485px;
  border: 2px solid black; /* Proposition de "style" */ 
}

/* Changement de couleur de fond du footer */ 
.footer{
  background-color: #5b5b5c;
  --cassiopeia-color-hover: none;
}
