/* Fichier user.css

Auteur : MAINCENT Thomas
Date de création : 15 Mai 2023 */

/* Ajout d'un dégradé gris sombre et gris clair */
.header{
  background: linear-gradient(0deg, rgba(238,238,238,1) 40%, rgba(154,154,154,1) 100%);
}

/* Changement de taille du titre 1 (titre article) */
h1{
  font-size: 1.5rem;
  color: #444444;
}

/* Changement de la couleur du "titre 2" en vert + taille*/
h2{
  color: #7ba428;
  font-size: 1.375rem;
}

/* Changement de couleur du "titre 3" */
h3{
  color: #abb664; /* Proposition de couleur */
  font-size: 1.125rem;
}

/* Taille du texte */
p, li{
  font-size: 0.813rem;
}

/* Changement de couleur des liens */
a{
  color: #87c864; /* Proposition de couleur */
}

/* Redimensionnement + placement du logo de connexion (extension Maximenu) */
div#maximenuck113 li.maximenuck img{
  width: 55px;
}

/* Redimensionnement du logo */
.brand-logo img {
  width: 1920px; /* Résolution 1080p par défaut */
  height: auto;
  border: 2px solid black; /* Proposition de "style" */ 
}

/* Couleur des intitulés au dessus des champs (nom, prénom, etc.) */
label#jform_contact_name-lbl, label#jform_contact_email-lbl, label#jform_contact_emailmsg-lbl, label#jform_contact_message-lbl{
  color: #455429;
  font-family: Inter;
}

/* Centre les intitulés + champs + légende et le bouton */
label#jform_contact_name-lbl, label#jform_contact_email-lbl, label#jform_contact_emailmsg-lbl, label#jform_contact_message-lbl, label#jform_spacer-lbl, legend, button.btn.btn-primary.validate, input#jform_contact_name, input#jform_contact_email, input#jform_contact_emailmsg, textarea#jform_contact_message{
  margin-left: 2%;
}

/* Modifie l'espacement entre chaque champ (bas) + couleur de la bordure */
input#jform_contact_name, input#jform_contact_email, input#jform_contact_emailmsg, textarea#jform_contact_message{
  margin-bottom: 2%;
  border: 1px solid #808c6a;
  width: 584px; /* Longueur */
}

/* Modification de couleur du texte : 'Champs requis', '*' et le message d'erreur */
label#jform_spacer-lbl, span.star, .form-control-feedback{
  color: rgb(242, 58, 60);
  font-family: var(--font-sans-serif); /* Police par défaut de Joomla */
  font-weight: bold; /* Texte en gras */
}

/* Couleur de fond du formulaire */
form#contact-form{
  background-color: #f4ffdf;
  padding-right: 4%;
}

/* Couleur de fond du bouton */
button.btn.btn-primary.validate{
  background-color: #566638;
  border-color: #566638;
  margin-bottom: 2%;
}

/* Changement de couleur de fond du footer */ 
.footer{
  background-color: #5b5b5c;
  --cassiopeia-color-hover: none;
}